
<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add two user</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
<form action="friendadd" method="post" class="form">
    <input type="text"  name="fusr" class="usr" placeholder="First User">
    <br/>
    <input type="text"  name="sndusr" placeholder="Second User"  class="pswd">
    <br/>
    <input type="submit" value="SignUp" class="submit_btn">
</form>
</body>
</html>
