<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AntLogin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/LofinS/images/icons/favicon.ico}"   />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{LofinS/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{LofinS/fonts/fontawesome/css/fontsome.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{LoginS/fonts/iconic/css/materialdesigniconicfont.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{LoginS/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{LoginS/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{../static/LoginS/vendor/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{../static/LoginS/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{LoginS/vendor/daterangepicker/daterangepicker.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{Logins/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{Logins/css/main.css}">
    <!--===============================================================================================-->
</head>
<body >

<div class="limiter"  >
    <div class="container-login100 " style="background-image: url('/LoginS/images/bg-01.jpg');">
        <div class=" wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54"  >


            <form class="login100-form validate-form  "   th:action="@{/signup}"  th:object="${data}"  method="post">
					<span class="login100-form-title p-b-49">
						Login
					</span>

                <div class="wrap-input100 validate-input m-b-23" >
                    <span class="label-input100">Username</span>
                    <input class="input100" type="text"   th:field="*{username}" autocomplete="none"  name="username" placeholder="Type your username">
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>
                <div class="wrap-input100 validate-input  m-b-23">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" th:field="*{password}" autocomplete="none" name="pass" placeholder="Type your password">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-23" >
                    <span class="label-input100">Re-type Password</span>
                    <input class="input100" type="password"  autocomplete="none"  name="repass" placeholder="RE-Type your username">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-23" >
                    <span class="label-input100">Email</span>
                    <input class="input100" type="email"  th:field="*{email}"  autocomplete="none"  name="repass" placeholder="Type your Email Adress">
                    <span class="focus-input100" data-symbol="&#xf2b8;"></span>
                </div>
                <div th:field="*{gender}">
                    <span class="focus-input100" data-symbol="&#xf183;"></span> <span class="focus-input100" data-symbol="&#xf182;"></span>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1" data-symbol="&#xf224;"> Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2" data-symbol="&#xf225;"> Female</label>
                    </div>
                </div>

                <div class="text-right p-t-8 p-b-31">
                    <a href="/login">
                        Already Have A Account!
                    </a>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Sign Up
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>





</body>
</html>